In [3]:
import pandas as pd 
import numpy as np 
from functools import reduce
import os 
import openpyxl

In [4]:
list_control = [27,29,31] 
list_shams = [5,9,11,19,21,23]
list_stimulated = [13,15,17]
rat_category = {'controls': list_control,'shams': list_shams,'stimulated': list_stimulated}

In [5]:
print(rat_category)

{'controls': [27, 29, 31], 'shams': [5, 9, 11, 19, 21, 23], 'stimulated': [13, 15, 17]}

In [6]:
'''
df_1 = dataframe with only the value of total intake, meal size etc 
df_2 = dataframe with value of total intake, meal size etc + column for rat type too 

'''

def tabulate(filenames, result_page , rat_category):
    day_wise_result = []
    final_df = pd.DataFrame()
    #for each day in filenames 
    for day in filenames: 
        if not day.endswith('.xlsx'):
            day = day + '.xlsx'
        
        df = pd.read_excel(day,sheet_name = 'PSC Totals', skiprows = 8)
        
        if result_page =='total intake':
            df_1 = df.iloc[:,7]
            
        elif result_page == 'meal number':
            df_1 = df.iloc[:,8]
            
        elif result_page == 'meal size':
            df_1 = df.iloc[:,12]
            
        elif result_page == 'intermeal interval':
            df_1 = df.iloc[:,11]
        else: 
            print("invalid result page")
            
        
    #making a list of type of rats and convert to dataframe 
        type_of_rat = [] 
        for index, row in df.iterrows():
            if row[0] in rat_category['controls']:
                type_of_rat.append('controls')
                
            elif row[0] in rat_category['shams']:
                type_of_rat.append('shams')
                
            elif row[0] in rat_category['stimulated']:
                type_of_rat.append('stimulated')
        
        type_of_rat = pd.DataFrame(np.array(type_of_rat))
        type_of_rat.columns = ['type_of_rat']
        
        df_2 = pd.concat([df_1, type_of_rat ], ignore_index=False, axis = 1)
        #now group df2 by type 
        df_2 = df_2.sort_values(by = "type_of_rat")
        #print(df_2)
        
        day_wise_result.append(df_2)
    
    
    #merging all the days dataframes into a single one    
    #result = reduce(lambda x, y: pd.merge(x, y, on = 'type_of_rat'), day_wise_result)
    for dfs in day_wise_result: 
        final_df = pd.concat([final_df,dfs.iloc[:,0]], axis = 1 )
    final_df.columns = filenames   
    final_df = pd.concat([final_df,type_of_rat.sort_values(by = 'type_of_rat')], axis = 1 )
    return final_df

In [ ]:
def transfer_data(filenames, result_page_list , rat_category, output_filename):
    writer = pd.ExcelWriter(output_filename + '.xlsx', engine='xlsxwriter')
    
    final_df_list = []
    averages_list = []
    avg_shams_controls = []
    avg_stimulated_controls = []

    
    for sheetname in result_page_list: 
        if not output_filename.endswith('.xlsx'):
            output_filename = output_filename + '.xlsx'
            
        #using the tabulate function to obtain the final dataframe from the requested files    
        final_df = tabulate(filenames, sheetname, rat_category)
        
        #making dataframe containing category wise matrices 
        averages = final_df.groupby(['type_of_rat']).mean()
        
        #adding a column containing row-wise means 
        final_df['Mean'] = final_df.mean(axis=1)
        #averages['Mean'] = averages.mean(axis=1)
        #averages['Sum of Averages']=averages.iloc[:,0:averages.shape[1]-1].sum(axis=1)
        
        #rearranging the columns of final dataframe
        new_col_names = []
        for col in final_df.columns:
            if col != 'type_of_rat':
                new_col_names.append(col)
        new_col_names.append('type_of_rat')
        final_df = final_df[new_col_names]
        print(sheetname + " transferred")
        
        final_df_list.append(final_df)
        
        
        #writing the dataframes to the excel sheet 
        final_df.to_excel(writer, sheet_name=sheetname, index=False, startcol = 1)
       
        
        #calcuating differences for each excel sheet 
        averages_diff_sham_controls = averages.iloc[1,:] - averages.iloc[0,:] 
        averages_diff_stim_controls = averages.iloc[2,:] - averages.iloc[0,:]
        
        averages_diff_sham_controls = averages_diff_sham_controls.to_frame().T
        averages_diff_stim_controls = averages_diff_stim_controls.to_frame().T
        
        averages = pd.concat([averages,averages_diff_sham_controls,averages_diff_stim_controls], ignore_index=True, axis=0)
        averages['Mean'] = averages.mean(axis=1)
        averages['Sum'] = averages.sum(axis=1)
        averages.reindex(['Controls Average', 'Shams Average', 'Stimulated Average','Shams - Controls', 'Stimulated - Controls'])
        averages_list.append(averages)
        averages.to_excel(writer, sheet_name=sheetname, index=True, startrow=(final_df.shape[0]) + 2 ,startcol= 0)
        
    writer.save()
    print("Result saved in file: " + output_filename)
    return final_df_list, averages_list

In [ ]:
#final function 

#taking in inputs 
'''filenames = [str(x) for x in input("Enter the name of files with space in between : ").split()]
list_control = [int(x) for x in input("Enter the CONTROL RAT NO.S : ").split()]
list_shams = [int(x) for x in input("Enter the SHAM RAT NO.S : ").split()]
list_stimulated = [int(x) for x in input("Enter the STIMULATED RAT NO.S : ").split()]
'''

list_control = [27, 29, 31] 
list_shams = [5, 9, 11, 19, 21, 23]
list_stimulated = [13, 15, 17]

#storing rat categories as signauture 
rat_category = {'controls': list_control,'shams': list_shams,'stimulated': list_stimulated}

output_filename = input("Enter the ouput filename: ")

final_df , averages = transfer_data(filenames = filenames, result_page_list=['total intake','meal number','meal size','intermeal interval'], rat_category = rat_category, output_filename = output_filename)

In [ ]:
averages[1]

In [34]:
final_df

[    Day_1  Day_2  Day_3  Day_4     Mean type_of_rat
 9   16.38  14.71  20.42  16.50  17.0025    controls
 10  13.94  14.44  14.26  15.72  14.5900    controls
 11  15.86  15.24  15.87  16.22  15.7975    controls
 0   15.75  20.01  20.48  18.19  18.6075       shams
 1   17.28  20.74  16.86  21.83  19.1775       shams
 2   14.40  17.14  17.53  17.22  16.5725       shams
 6   21.33  17.14  17.72  19.29  18.8700       shams
 7   15.17  17.96  17.48  15.74  16.5875       shams
 8   18.74  19.99  20.89  17.09  19.1775       shams
 3   21.76  19.18  19.25  22.28  20.6175  stimulated
 4   19.51  18.10  17.58  16.96  18.0375  stimulated
 5   20.94  17.75  22.57  19.42  20.1700  stimulated,
     Day_1  Day_2  Day_3  Day_4  Mean type_of_rat
 9       8      6      6      6  6.50    controls
 10      6      8      5      6  6.25    controls
 11     11      9     11      8  9.75    controls
 0       6      5      5      6  5.50       shams
 1       5      7      5      7  6.00       shams
 2       7      9      9      8  8.25       shams
 6       7      8      8     12  8.75       shams
 7       5      5      7      5  5.50       shams
 8       6      8     10      5  7.25       shams
 3       7      7      7      6  6.75  stimulated
 4       5      6      7      5  5.75  stimulated
 5       5      5      6      4  5.00  stimulated,
     Day_1  Day_2  Day_3  Day_4    Mean type_of_rat
 9    2.05   2.45   3.40   2.75  2.6625    controls
 10   2.32   1.81   2.85   2.62  2.4000    controls
 11   1.44   1.69   1.44   2.03  1.6500    controls
 0    2.62   4.00   4.10   3.03  3.4375       shams
 1    3.46   2.96   3.37   3.12  3.2275       shams
 2    2.06   1.90   1.95   2.15  2.0150       shams
 6    3.05   2.14   2.22   1.61  2.2550       shams
 7    3.03   3.59   2.50   3.15  3.0675       shams
 8    3.12   2.50   2.09   3.42  2.7825       shams
 3    3.11   2.74   2.75   3.71  3.0775  stimulated
 4    3.90   3.02   2.51   3.39  3.2050  stimulated
 5    4.19   3.55   3.76   4.86  4.0900  stimulated,
       Day_1    Day_2    Day_3    Day_4       Mean type_of_rat
 9   1013.62   894.17  1482.17  1615.83  1251.4475    controls
 10   794.33   738.00   912.40   766.33   802.7650    controls
 11   529.18   691.56   579.27   674.50   618.6275    controls
 0   1097.50  1409.20  1590.00  1433.67  1382.5925       shams
 1   1252.80  1207.14  1552.40   905.00  1229.3350       shams
 2    813.57   954.89   677.00   874.62   830.0200       shams
 6    958.57   805.62  1029.50   703.92   874.4025       shams
 7    945.80  1477.60   697.86  1658.60  1194.9650       shams
 8   2239.17  1439.50   953.60  1655.40  1571.9175       shams
 3   1370.14  1552.00  1263.86  1524.50  1427.6250  stimulated
 4   1908.80  1770.00   888.00  1479.60  1511.6000  stimulated
 5   1627.80  1322.00  1518.17  1856.75  1581.1800  stimulated]

In [35]:
# now we manually calculate some of the sums from each sheet of the resultant workbook and paste the results there 
averages

[                 Day_1      Day_2      Day_3      Day_4       Mean  \
 type_of_rat
 controls     15.393333  14.796667  16.850000  16.146667  15.796667
 shams        17.111667  18.830000  18.493333  18.226667  18.165417
 stimulated   20.736667  18.343333  19.800000  19.553333  19.608333

              Sum of Averages
 type_of_rat
 controls           63.186667
 shams              72.661667
 stimulated         78.433333  ,
                 Day_1     Day_2     Day_3     Day_4      Mean  Sum of Averages
 type_of_rat
 controls     8.333333  7.666667  7.333333  6.666667  7.500000        30.000000
 shams        6.000000  7.000000  7.333333  7.166667  6.875000        27.500000
 stimulated   5.666667  6.000000  6.666667  5.000000  5.833333        23.333333,
                 Day_1     Day_2     Day_3     Day_4    Mean  Sum of Averages
 type_of_rat
 controls     1.936667  1.983333  2.563333  2.466667  2.2375             8.95
 shams        2.890000  2.848333  2.705000  2.746667  2.7975            11.19
 stimulated   3.733333  3.103333  3.006667  3.986667  3.4575            13.83,
                    Day_1        Day_2        Day_3        Day_4         Mean  \
 type_of_rat
 controls      779.043333   774.576667   991.280000  1018.886667   890.946667
 shams        1217.901667  1215.658333  1083.393333  1205.201667  1180.538750
 stimulated   1635.580000  1548.000000  1223.343333  1620.283333  1506.801667

              Sum of Averages
 type_of_rat
 controls         3563.786667
 shams            4722.155000
 stimulated       6027.206667  ]

In [24]:
avg_shams_controls

[Day_1    1.718333
 Day_2    4.033333
 Day_3    1.643333
 Day_4    2.080000
 dtype: float64, Day_1   -2.333333
 Day_2   -0.666667
 Day_3    0.000000
 Day_4    0.500000
 dtype: float64, Day_1    0.953333
 Day_2    0.865000
 Day_3    0.141667
 Day_4    0.280000
 dtype: float64, Day_1    438.858333
 Day_2    441.081667
 Day_3     92.113333
 Day_4    186.315000
 dtype: float64]

In [25]:
avg_stimulated_controls

[Day_1    5.343333
 Day_2    3.546667
 Day_3    2.950000
 Day_4    3.406667
 dtype: float64, Day_1   -2.666667
 Day_2   -1.666667
 Day_3   -0.666667
 Day_4   -1.666667
 dtype: float64, Day_1    1.796667
 Day_2    1.120000
 Day_3    0.443333
 Day_4    1.520000
 dtype: float64, Day_1    856.536667
 Day_2    773.423333
 Day_3    232.063333
 Day_4    601.396667
 dtype: float64]

In [26]:
sum_avg_shams_controls

[1158.3683333333333,
 1158.3683333333333,
 1158.3683333333333,
 1158.3683333333333]

In [27]:
sum_avg_stimulated_controls

[2463.42, 2463.42, 2463.42, 2463.42]

In [60]:
df1 = pd.DataFrame({'A': [1,2, 3, 4],
                     'B': [1,5, 3, 4],
                        'C': [1,2, 5, 4],
                        'D': [1,2, 3, 4]},
                       index=[0, 1, 2, 3])

In [61]:
df1

   A  B  C  D
0  1  1  1  1
1  2  5  2  2
2  3  3  5  3
3  4  4  4  4

In [66]:
df2 = df1.iloc[1,:] - df1.iloc[2,:]

A   -1
B    2
C   -3
D   -1
dtype: int64

In [88]:
df2 = df2.to_frame().T

In [89]:
df2

   A  B  C  D
0 -1  2 -3 -1

In [90]:
df3 = pd.concat([df1,df2], ignore_index=True, axis = 0)

In [91]:
df3

   A  B  C  D
0  1  1  1  1
1  2  5  2  2
2  3  3  5  3
3  4  4  4  4
4 -1  2 -3 -1

In [100]:
df3['Sum'] = df3.sum(axis=1)
df3

   A  B  C  D   Sum
0  1  1  1  1   4.0
1  2  5  2  2  11.0
2  3  3  5  3  14.0
3  4  4  4  4  16.0
4 -1  2 -3 -1  -3.0